# Python
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.env.*
!.env.example

# Auth & Secrets
googleAuth.json

# IDEs
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Uploads & Storage
storage/
services/php-service/uploads/