.page-landing {
  > .template-slot {
    flex: 0 0 auto;
  }

  .map-layout {
    position: relative;
    display: flex;
    flex: 1 1 auto;
    min-height: 0;
    height: auto;
    overflow: hidden;
  }

  @media (max-width: 991.98px) {
    .map-layout {
      flex-direction: column;
    }
  }
}
