RewriteEngine On

# Les capçaleres CORS i les peticions OPTIONS ara es gestionen a index.php per permetre ports dinàmics

# Front Controller
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php [QSA,L]
