/* Admin Aparcaments CRUD Styles */

#section-admin-parkings, #modal-parking {
    [data-bs-theme="dark"] & {
        .form-control, .form-select {
            border-color: rgba(255, 255, 255, 0.2);
            background-color: rgba(255, 255, 255, 0.05);
            color: #edf2f4;

            option {
                background-color: #2b2d42;
                color: #edf2f4;
            }

            &:focus {
                border-color: var(--bs-primary);
                box-shadow: 0 0 0 0.25rem rgba(var(--bs-primary-rgb), 0.25);
            }
        }
    }
}

.x-small {
    font-size: 0.75rem;
}
