# Requeriments per Parklive
Flask==3.0.0
flask-cors==4.0.0
bcrypt==5.0.0
mysql-connector-python==8.2.0
python-dotenv==1.0.0
cryptography==41.0.5
requests==2.31.0
urllib3<2.0.0
stripe==8.11.0
reportlab==4.1.0
PyJWT==2.8.0
cloudinary